*{
    margin: 0px;
    padding: 0px;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 30px 60px; */

}

.shop-title{
    color: #fafafa;
    font-size: 30px;
    font-weight: 800;
} 
.text-primary{
    color: #dc41a6;
}
nav>ul{
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}
nav li{
    list-style: none;
    margin-right: 40px;
    margin-top: 20px;


}
nav a{
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

/* header related styles */
.header{
   background-color: #ad9668;
}
.banner{
    padding:0px 30px 0px 40px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: rgba(237, 0, 51, 0.138);

}
.banner.profile-pic{
    /* width: 500px; */
    width: 635px;
    height: 800px;
}
.banner-greeting{
    
     color: #272727;
    font-size: 45px;
   
    margin-bottom: 0px;

   
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-primary{
    border-radius: 5px;
    background: #fd0a3f;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* featured Section Style */
.featured-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 20px;



}
.featured-description{
    text-align: center; 
    margin-bottom: 50px;
}

.featured-container{

    display: flex;
    justify-content: center;
    gap: 140px;


}
.flower-featured-1{
    
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px 10px 10px 20px;
    
}
.flower-pic-1{
  
    height: 400px;
}
.flower-featured-2{
    
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 20px 10px 10px 20px;
    
}
.flower-pic-2{
  
    height: 400px;
}

.flower-featured-3{
    
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 20px 10px 10px 20px;
}
.flower-pic-3{
  
    
    height: 400px;
}


.flower-name{
    text-align: center;
    margin-top: 80px;
    text-decoration-line: underline;
}



/* delivery & support section */

.delivery-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 80px;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 110px;
    margin-right: 110px; 

    padding: 50px 30px 50px 50px;

}
.delivery-description{
    text-align: center;
    
}




/* hot deal section style */
.off-btn{
    color: #dc41a6;
}

.hot-deal{
   
   
    display: flex;
    align-items:center;
    margin-top: 150px;
    margin-bottom: 130px;
    background: rgba(237, 0, 51, 0.138);
    gap: 50px;
    justify-content: center;
   
    
}
.deal-pic{
  
    margin-right: 30px;
}




/* greatest deal style */
.greatest-container{
    background-image: url("./Flower Asset/Rectangle 9.png");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 128px 80px 130px 80px;
    margin: 70px 100px 150px 100px;

}
.greatest-text{
    
        text-align: center;
}

.greatest-input{
    border-radius: 5px;
    /* background: #fd0a3f; */
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 10px;
}


.deal-title{
    text-align: center;
    padding:50px;

}

/* instagram section style */

.ins-title {
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;



}
.ins-description{
    text-align: center; 
    margin-bottom: 50px;
}

.instagram-container{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    gap: 40px;

   


}

.flower-pic{
    width: 300px;
    height: 280px; 
}



/* footer style */


footer{
    
    
    background: #0f0f0e;
    padding: 130px 230px;
    margin-top: 100px;
    text-align: center;
    color: azure;
    
}
.footer{
    padding:0px 300px
}
